*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO SECTION */

.hero{
  background: darkred;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  font-family: sans-serif;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: bold;
}

.hero-info{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  font-family: sans-serif;
}

.hero-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 380px;
  gap: 12px;
  
}

.hero-button{
  width: 100px;
  border-radius: 7px;
  background-color: rgb(37, 34, 34);
  font-weight: bold;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

.logo {
  height: 80px;
  width: 80px;
}

.hero-image {
  height: 200px;
  width: auto;
}

/* ADDITIONAL INFORMATION SECTION */
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  font-family: sans-serif;
}

.info-images {
  display: flex;
  gap: 48px;
}

.image-text{
  text-align: center;
  font-family: sans-serif;
}

.image-text img {
  height: 150px;
  width: 200px;
  border: 5px solid darkred;
  border-radius: 10px;
}

/* QUOTE SECTION */

.quote-section {
  width: 100%;
  height: 200px;
  background-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quote-area {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 24px;
  font-style: italic;
  font-family: sans-serif;
}

.author{
  align-self: flex-end;
  font-weight: bold;
  font-family: sans-serif;
}

/* SIGN UP SECTION */

.sign-up-section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.sign-up-container{
  display: flex;
  width: 1000px;
  height: 150px;
  justify-content: center;
  align-items: center;
  gap: 200px;
  background-color: darkred;
  border-radius: 10px;
}

.sign-up-text {
  font-family: sans-serif;
  font-size: medium;
  color: white;
}

.sign-up-container button {
  width: 100px;
  border-radius: 7px;
  background-color: rgb(37, 34, 34);
  font-weight: bold;
  color: white;
  border: 2px solid white;
  padding: 5px;
}

.footer {
  width: 100%;
  height: 40px;
  background-color: darkred;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: white;
}