*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HERO SECTION */

.hero{
  background: rgb(43, 106, 173);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 350px;
}

.header{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  font-family: sans-serif;
}

ul{
  list-style-type: none;
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: bold;
}

.hero-info{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  font-family: sans-serif;
}

.hero-text{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 380px;
  gap: 12px;
  
}

.hero-button{
  width: 80px;
  border-radius: 10px;
  background-color: rgb(37, 34, 34);
  font-weight: bold;
  color: white;
  border: none;
  padding: 5px;
}

.logo {
  height: 80px;
  width: 80px;
}

.hero-image {
  height: 200px;
  width: auto;
}

/* ADDITIONAL INFORMATION SECTION */
.info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: space-around;
  font-weight: bolder;
  font-family: sans-serif;
}

.info-images {
  display: flex;
  gap: 48px;
}

.image-text{
  text-align: center;
  font-weight: bolder;
  font-family: sans-serif;
}

.image-text img {
  height: 150px;
  width: 200px;
}